<div class="login-page">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <div class="login-logo">
          <img src="../../../assets/img/orangelogo.png" alt="">
        </div>
      </a>
    </div>
  </nav>
  <div class="login_container">
    <div class="input-field">
      <input type="text" class="input_class" placeholder="Email address">
    </div>
    <div class="input-field">
      <input type="password" class="input_class" placeholder="Password">
    </div>
    <div class="input_button">
      <button>login</button>
      <a href="#">forgot my password</a>
    </div>
    <div class="form_login_link">
      <a href="#">I don't have an Account</a>
    </div>
  </div>
</div>
