<div class="content_wrapper">
  <div class="row">
    <div class="col s12">
      <h4 class="pro_title">Dashboard</h4>
    </div>
    <div class="col s12 m8 hide-on-med-and-down">
      <h6 class="sub-title"><b>Notifications</b> <span><small>3 new notifications</small></span></h6>
      <div class="row">
        <div class="notification-display">
          <div class="item unread">
            <span><i class="material-icons">person</i></span>
            <p>4 backpackers on board for Hiking in Khul....</p>
          </div>
          <div class="item">
            <span><i class="material-icons">access_time</i></span>
            <p>You activity is going to start soon</p>
          </div>
          <div class="item">
            <span><i class="material-icons">chat_bubble_outline</i></span>
            <p>Manual Registeration for Mohammad Khalid</p>
          </div>
          <div class="item">
            <span><i class="material-icons">info_outline</i></span>
            <p>Complete your activity Info & Booking Settings</p>
          </div>
          <div class="item">
            <span><i class="material-icons">person_outline</i></span>
            <p>2 backpackers on board for Hiking in Khul....</p>
          </div>
          <p class="right"><span><small><a href="#">Show all 28 notifications</a></small></span></p>
        </div>
      </div>
      <h6 class="sub-title"><b>Calendar</b> </h6>
      <div class="row">
        <div class="col m3 s12">
          <div class="card calendar_card">

          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <h6 class="sub-title"><b>Overview</b></h6>
      <h6 class="sub-title"><small><b>Today, 12 Apr 2019</b></small></h6>
      <div class="row">
        <div class="col s12 m12">
          <overview-card></overview-card>
          <overview-card></overview-card>
          <overview-card></overview-card>
        </div>
      </div>
      <h6 class="sub-title"><small><b>Today, 16 Apr 2019</b></small></h6>
      <div class="row">
        <div class="col s12 m12">
          <overview-card></overview-card>
        </div>
      </div>
      <h6 class="sub-title"><b>Earnings & Statistics</b></h6>
      <div class="row">
        <div class="col s12 m12">

        </div>
      </div>
    </div>
  </div>
</div>
