<div class="login-page">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <div class="login-logo">
          <img src="../../../assets/img/orangelogo.png" alt="">
        </div>
      </a>
    </div>
  </nav>
  <div class="main_wrapper">
    <h5><span class="strong-title">WELCOME!</span> Let’s get you set up with a backpack pro account</h5>
    <div class="login_container">
      <div class="input-field">
        <input type="text" class="input_class" placeholder="Email address">
      </div>
      <div class="input-field">
        <input type="password" class="input_class" placeholder="Password">
        <span class="show-password"><i class="material-icons">remove_red_eye</i></span>
      </div>
      <div class="input-field">
        <div class="col m6 radio_checkers">
          <label>
            <input type="radio" name="personality" />
            <span class="info">
              <i class="material-icons">person_outline</i>
              <span>Individual</span>
            </span>
          </label>
          <label>
            <input type="radio" name="personality" />
            <span class="info">
              <i class="material-icons">work</i>
              <span>Organization</span>
            </span>
          </label>
        </div>
      </div>
      <div class="input_button">
        <button class="btn btn_pro">register</button>
      </div>
    </div>
  </div>
</div>
